

.input {
    position: relative;
    width: 80%;
    height: 30px;
    margin-left: 30px;
}

.input__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(.5rem * 0.75) calc(.5rem * .5);
    margin: calc(.5rem * 0.75 + 3px) calc(.5rem * .5);
    /* background: pink; */
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: #63898c;
    transition: transform 120ms ease-in;
    /* font-weight: bold; */
    line-height: 1.2;
}

.input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(.5rem * 1.5) .5rem;
    color: currentColor;
    background: transparent;
    border-radius: 4px;
}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: #E0F4F5;
}