<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <style>
    *{
        background-color: #015366;        
    }
    h1{
        /* color:#e0f4f5 */
        color: #a7d1d2;
        font-size: 75px;
        background-color: #033540;
        padding:0px;
    }
    p{
        color: #a7d1d2;
        font-size: 40px;
        padding:50px;
    }
    .info{
        display:flex
    }
    img{
        max-width: 100%;
        vertical-align: middle;
    }
    </style>
</head>
<body><div class="heading">
        <h1>
            About us
        </h1>
    </div>
    <div class="info">
        <img src="../../assets/About/aboutImg.svg" alt="was not able to load" width="500px">
        <p>
            Majority  of the working-class population of the nation ranging from technical level jobs to white collar jobs struggle with proper styling and representation of their skills through the resume, so we build this application to make that job easier and to provide all styling formats thereby giving the best results.
            People find it difficult to convey their skills and knowledge through proper wording while creating such important documents so a proper platform is necessary to resolve all such problems.
        </p>
    </div>
    
</body>
</html>